@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-body text-[#27282c];
  }
  
  /* For Webkit-based browsers (Chrome, Safari and Opera) */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  /* For IE, Edge and Firefox */
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

}

@layer components {
  #container {
    @apply bg-[#E7ECEE] scroll-smooth
  }

  .typography {
    @apply block transition-all duration-300 cursor-default md:hover:transform md:hover:translate-x-2
  }

  .image {
    @apply transition-all md:opacity-90 duration-700 md:hover:transform md:hover:scale-105 md:hover:opacity-100
  }

  .headerLink {
    @apply text-lg opacity-80 transition hover:opacity-100
  }

  .headerIcon {
    @apply opacity-80 transition hover:opacity-100 text-3xl md:text-2xl
  }

  .link {
    @apply px-2 relative cursor-pointer text-lg font-medium before:absolute before:inset-x-0 before:-bottom-1.5 before:h-0.5 before:origin-left before:scale-x-0 before:transform before:rounded-bl before:bg-gradient-to-r from-violet-900 to-pink-500 before:transition-all before:duration-200 hover:before:scale-x-100;
  }

  .arrow {
    @apply bg-gradient-to-t w-4 h-4 transition-all duration-300 from-violet-900 to-pink-500 opacity-80 rounded-full p-1.5 animate-bounce hover:cursor-pointer hover:opacity-100
  }
}